Source: ndn-perl
Section: perl
Priority: optional
Maintainer: Chris Weyl <chris.weyl@dreamhost.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/dreamhost/glowing-bear/tree/ndn-perl/master
Vcs-Git: https://github.com/dreamhost/glowing-bear.git
Vcs-Browser: https://github.com/dreamhost/glowing-bear/tree/ndn-perl/master

Package: ndn-perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perl for us!
 Our basic Perl build.
