#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --parallel

# configure our perl here...
override_dh_auto_configure:
	./Configure -de -Dprefix='/opt/ndn-perl' -Accflags='-fPIC' \
		-Dotherlibdirs='/opt/ndn-perl/shared/lib/ndn_perl' \
		-Dotherlibdirs='/opt/ndn-perl/modules/perl5' \
		-Dotherlibdirs='/opt/ndn-perl/modules/perl5/x86_64-linux' \
		-Duseithreads \
		-Duse64bitint
